%div#game(data-game-id=@game_id height="100%" width="100%" data-uri="#{request.host}:#{request.port}/websocket")
#sidebar
  %p
    #clock
    %button#reset Reset
    %button#new-game New Game
    %button#next-round Next Round

  %strong Description
  %p
    Move the robot that is the same color as the shape in the center<br>
    of the board to the space with that symbol in the fewest number<br>
    of moves.

  %p
    After finding the first solution other players have one minute
    to try to beat your score.

  %p
    Any robot can complete the light blue 'hazard' puzzle.<br>

  %strong Controls
  %dl
    %dt
      w, a, s, d
    %dd
      left, right, up, down
    %dt
      q, e
    %dd
      prev, next robot.
    %dt
      r
    %dd
      reset

  %span Your name ->
  %input#user_name
  %h3 Users
  #user_list
