%div#game(data-game-id=@game_id height="100%" width="100%" data-uri="#{request.host}:#{request.port}/websocket")
#sidebar
  %button#reset Reset
  %button#new-game New Game
  %input#user_name
  #user_list
